.responsive-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-head{
    font-size: 36px;
    font-weight: 900;
}
.banner-text{
    padding: 0 100px 0 30px;
}
.banner-paragraph{
    font-weight: 300;
    margin: 20px 0;
}
@media only screen and (max-width: 480px) {
    .responsive-card{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }
    .banner-head{
        font-size: 30px;
        font-weight: 900;
    }
    .banner-text{
        padding: 0 10px 0 10px;
    }
  }
@media only screen and (min-width: 480px) and (max-width: 720px) {
    .responsive-card{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }
    .banner-head{
        font-size: 30px;
        font-weight: 900;
    }
    .banner-text{
        padding: 0 15px 0 15px;
    }
  }
@media only screen and (min-width: 721px) and (max-width: 1080px) {
    .banner-head{
        font-size: 30px;
        font-weight: 900;
    }
  }